@use "../abstracts/variables" as *;
@use "../abstracts/responsive" as *;

.container {
    background-color: $white;
    max-width: 600px;
    border-radius: 20px 20px 100px 20px;
    padding: 50px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    @include devices(mobile) {
        width: 90%;
    }

    @include devices(tablet) {
        width: 80%;
    }

    form {
        padding-bottom: 35px;
        border-bottom: 1px solid $light-grey;
        position: relative;

        @include devices(mobile) {
            padding-bottom: 25px;
        }

        @include devices(tablet) {
            padding-bottom: 30px;
        }

        .inputs {
            display: flex;
            gap: 10px;
            width: 80%;

            @include devices(mobile) {
                width: 100%;
                gap: 5px;
                margin-bottom: 30px;
            }

            .day-wrapper,
            .month-wrapper,
            .year-wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .error-empty-input {
                    display: none;
                }

                &.error {
                    label {
                        color: $light-red;
                    }

                    input {
                        border: 1px solid $light-red;
                    }

                    .error-empty-input {
                        display: block;
                        color: $light-red;
                        font-size: 12px;
                        font-style: italic;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .result {
        margin-top: 40px;

        span:nth-of-type(odd) {
            color: $purple;
        }
    }
}
