@use "../abstracts/variables" as *;
@use "../abstracts/responsive" as *;

button {
    background-color: $purple;
    border: none;
    outline: none;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    transition: $transition;
    cursor: pointer;

    @include devices(mobile) {
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
    }

    @include devices(tablet) {
        width: 60px;
        height: 60px;
    }

    img {
        width: 35px;
        height: 35px;
        object-fit: cover;

        @include devices(mobile) {
            width: 25px;
            height: 25px;
        }
    }

    &:hover {
        background-color: $off-black;
    }
}
