@use "../abstracts/variables" as *;
@use "../abstracts/responsive" as *;

label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    color: $off-black;
}
